body {
    background-image: url('https://wallpapers.com/images/hd/abstract-database-diagram-7rippi39ufx9fny2.jpg');
    background-size: cover;
    background-attachment: fixed;
}

header {
    height: 80px;
}

img {
    max-width: 100%;
}

input[type="text"],
input[type="date"],
textarea {
    background-color : #d1d1d1 !important;
  }

.bg-gray {
    background-color: rgba(0, 0, 0, 0.7);
}

.page-active {
    background-color: rgb(69, 69, 69);
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 1);
}
